{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block header_title %}{% trans "Sign In" %}{% endblock %}

{% block account_content %}
<p>Welcome back to the Prompts Manager. To leave a comment or interact with prompts, please log in. If you have not created an account yet, then <a class="link" href="{% url 'account_signup' %}">sign up</a> first.</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-signup right" type="submit">{% trans "Sign In" %}</button>
</form>
{% endblock %}