{% load i18n admin_urls %}
{% block object-tools-items %}
{% if show_regenerate_button %}
<li>
    <a href="{{ regenerate_url }}" style="background: #dc3545;">Regenerate AI Content</a>
</li>
{% endif %}
<li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="{% add_preserved_filters history_url %}" class="historylink">{% translate "History" %}</a>
</li>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% translate "View on site" %}</a></li>{% endif %}
{% endblock %}
