{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Edit Comment</h1>
            <p>Editing comment on: <strong>{{ prompt.title }}</strong></p>
            
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn btn-success">Update & Submit for Review</button>
                <a href="{% url 'prompts:prompt_detail' prompt.slug %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}