{% extends 'base.html' %}
{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ prompt.title }}</h1>
                <p class="post-subtitle">{{ prompt.author }} | {{ prompt.created_on|date:"F d, Y" }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- Placeholder for future image -->
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <!-- The prompt content with proper HTML rendering -->
                <p class="card-text">
                    {{ prompt.content|safe }}
                </p>
                {% if prompt.excerpt %}
                <div class="row">
                    <div class="col-1">
                        <strong>Excerpt:</strong>
                    </div>
                    <div class="col-md-10 card-text">
                        {{ prompt.excerpt }}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- To iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.author }}
                        <span class="text-muted font-weight-normal">
                            {{ comment.created_on|date:"F d, Y" }}
                        </span> wrote:
                    </p>
                    {{ comment.body|linebreaks }}
                </div>
                {% empty %}
                <p>No comments yet.</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}